# Ignore model checkpoints
*.pth
*.pt
*.zip

# Ignore datasets
data/
datasets/
*.npy

# Ignore results and logs
GAN_Project/results1/
**/checkpoints/
**/logs/
**/samples/
**/reconstructed_images/
**/heatmap_output/

# Ignore temporary files
*.tmp
*.log
*.DS_Store
